<div id="listings-index">
  <div class="row">
    <div class="col-sm">
    <table class="table table-warning">
      <thead>
      <tr>
        <th>Sort</th>
        <th><%= link_to "Highest pay", '/listings/?sort=pay', class: "g-class"%></th>
        <th><%= link_to "Shortest vacation", '/listings/?sort=days', class: "g-class"%></th>
        <th><%= link_to "My city only", '/listings/?sort=city', class: "g-class"%></th>
        <th colspan="3"></th>
      </tr>
      </thead>
    </table>
    </div>
  </div>

  <% @listings.length.times do |i| %>
    <%= render partial: "lcard", locals: {listing: @listings[i], listing2: @listings[i+1]}%>
  <% end %>
</div>

